<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<script>
//<![CDATA[
function carregarDados() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200) {
     document.getElementById("display").innerHTML = xhttp.responseText;
    }
  };
  xhttp.open("GET", "http://localhost:8080/clientes", true);
  xhttp.send();
}
//]]>
</script>

</head>
<body>
<button type="button" onclick="carregarDados()"> Carregar </button>
<div id="display">

</div>
</body>



</html>